.logout{
    position:absolute;
    right: 50px;
    width: 50px;
}
footer{
    position: absolute;
    margin-top: -18px;
    /* negative value of footer height */
    height: 18px;
    clear: both;
    background-color: red;
}

.nav{
    position: absolute;
    top: 0px;
    display: inline-block;
    width: 1000%;
    height:5%;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li button {
    border: none;
    display: block;
    color: black;
    background-color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li button:hover {
    background-color: #333333;
    color: white;
}
#home {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333333;
}

#myCanvas{
    display: block;
    position: absolute;
    top: 9001px;
    right: 9001px;
}

.previewdiv{
    poistion: relative;
    bottom: 294px;
    right: 2px;
    z-index: 2;
}

video{
    poistion: relative;
    bottom: 294px;
    right: 2px;

}

